#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
}

.form-content {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 1rem;
  padding: 0 6rem;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

form input[type="text"],
form input[type="password"] {
  width: 50vh;
  height: 5vh;
  padding: 0.5rem;
  font-size: 1rem;
}

.login-button {
  width: 53vh;
  height: 8vh;
  padding: 10px 0;
  font-size: 1rem;
  background-color: #1da1f2;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0.1rem;
  border-radius: 2rem;
}

.login-button :hover {
  background-color: #0d8bd4;
}

.login-metin {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5rem;
}
.login-metin h1 {
  font-size: 4rem;
}

.checkbox-label {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.form-content h4 {
  padding: 0.2rem;
  color: red;
  background-color: #ff8f8f;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
  margin-top: 0;
}

.homepage-container {
  display: flex;
  flex-direction: row;
  width: 90rem;
  height: 92rem;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.homepage-sidebar {
  width: 18.2rem;
  height: 92rem;
}

.homepage-timeline {
  width: 55.6rem;
  height: 92rem;
}

.homepage-trend {
  width: 25rem;
  height: 92rem;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.sidebar-container img {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin: 1rem 1rem;
  padding: 0 2rem;
  gap: 2rem;
  color: black;
  text-decoration: none;
}
.sidebar-item :hover {
  color: rgb(54, 52, 52);
}

.sidebar-button {
  width: 20vh;
  height: 5vh;
  font-size: 1rem;
  background-color: #1da1f2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 2.5rem 2.5rem;
}

.userList-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: none;
  width: 100%;
  margin-top: 4rem;
  background-color: white;
}
.userList-container :hover {
  color: gray;
}

.userList-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.userList-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: none;
  border-left: 2px solid rgba(216, 216, 216, 1);
  border-right: 2px solid rgba(216, 216, 216, 1);
  width: 55.6;
  height: 3.3rem;
  align-items: center;
}

.header-container img {
  width: 1.3rem;
  height: 1.3rem;
}

.create-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.create-container {
  height: 9rem;
  border: 2px solid rgba(216, 216, 216, 1);
}
.create-container button {
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
  background-color: rgba(29, 161, 242, 1);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 2.5rem 2.5rem;
}

.create-item1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-left: 1.5rem;
}
.create-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
.create-item2 img {
  width: 1.3rem;
  height: 1.3rem;
}

.create-item2 span {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 5.5rem;
}

.post-item1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1.5rem;
  gap: 1rem;
}

.post-item2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.post-item1 img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.post-item1 p {
  text-align: justify;
  line-height: 1.5;
}

.post-item3 img {
  width: 40rem;
  height: 25rem;
  border-radius: 1.5rem;
}

.post-container {
  height: 39rem;
  border: 2px solid rgba(216, 216, 216, 1);
  border-top: none;
  padding: 1rem 0;
}

.postImage-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 2rem 0;
}

.postImage-container img {
  width: 1.3rem;
  height: 1.3rem;
}
.postImage-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postImage-item2 {
  position: relative;
  display: inline-block;
}

.newpost-container {
  height: auto;
  border: 2px solid rgba(216, 216, 216, 1);
  border-top: none;
  padding: 1rem 0;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.search-label img {
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
}
.search-container .search-label {
  position: absolute;
  cursor: pointer;
}
.search-input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 1.7rem;
  background-color: rgba(239, 243, 244, 1);
  text-align: center;
  color: gray;
}
.trendlist-Container {
  margin: 1rem 1.5rem;
}
.trendlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trendlist-item1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem;
}
.trendlist-vector {
  margin-top: 0.8rem;
  margin-right: 0.2rem;
}
.trend-container {
  background-color: rgba(247, 249, 249, 1);
  border-radius: 1rem;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
.trend-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-left: 1rem;
}
.trend-text img {
  width: 1.5rem;
  height: 1.5rem;
}
.trend-container button {
  border: none;
  cursor: pointer;
  color: rgba(29, 161, 242, 1);
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-left: 0.7rem;
  margin-bottom: 0.7rem;
}

.follow {
  background-color: rgba(247, 249, 249, 1);
  border-radius: 1rem;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5rem;
  text-align: left;
}
.follow h3 {
  margin-left: 1rem;
}
.follow button {
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}
.follow-item1 {
  display: flex;
  flex-direction: row;
}
.follow-item2 {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 1rem;
}

.follow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}
