#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
}

.form-content {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 1rem;
  padding: 0 6rem;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

form input[type="text"],
form input[type="password"] {
  width: 50vh;
  height: 5vh;
  padding: 0.5rem;
  font-size: 1rem;
}

.login-button {
  width: 53vh;
  height: 8vh;
  padding: 10px 0;
  font-size: 1rem;
  background-color: #1da1f2;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0.1rem;
  border-radius: 2rem;
}

.login-button :hover {
  background-color: #0d8bd4;
}

.login-metin {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5rem;
}
.login-metin h1 {
  font-size: 4rem;
}

.checkbox-label {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.form-content h4 {
  padding: 0.2rem;
  color: red;
  background-color: #ff8f8f;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
  margin-top: 0;
}

.homepage-container {
  display: flex;
  flex-direction: row;
  width: 80rem;
  height: 92rem;
  justify-content: center;
  margin-top: -2rem;
}

.homepage-sidebar {
  width: 17.2rem;
  height: 92rem;
}

.homepage-timeline {
  width: 45.6rem;
  height: 92rem;
  border-left: 2px solid rgba(216, 216, 216, 1);
  border-right: 2px solid rgba(216, 216, 216, 1);
}

.homepage-trend {
  width: 17.2rem;
  height: 92rem;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.sidebar-container img {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin: 1rem 1rem;
  padding: 0 2rem;
  gap: 2rem;
  color: black;
  text-decoration: none;
}
.sidebar-item :hover {
  color: rgb(54, 52, 52);
}

.sidebar-button {
  width: 20vh;
  height: 5vh;
  font-size: 1rem;
  background-color: #1da1f2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 2.5rem 2.5rem;
}

.userList-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: none;
  width: 100%;
  margin-top: 4rem;
  background-color: white;
}
.userList-container :hover {
  color: gray;
}

.userList-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.userList-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 2px solid rgba(216, 216, 216, 1);
  width: 100%;
  height: 3.3rem;
  align-items: center;
}

.header-container img {
  width: 1.3rem;
  height: 1.3rem;
}

.create-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.create-container {
  height: 9rem;
  border-bottom: 2px solid rgba(216, 216, 216, 1);
}
.create-container button {
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
  background-color: rgba(29, 161, 242, 1);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 2.5rem 2.5rem;
}

.create-item1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-left: 1.5rem;
}
.create-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
.create-item2 img {
  width: 1.3rem;
  height: 1.3rem;
}

.create-item2 span {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 5.5rem;
}
